.datatable {
    .datatableContainer{
        height: 600px;
        width: 100%;
        padding: 20px;

        .cellWithImg{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .cellImg{
                width: 35px;
                height: 35px;
                border-radius: 50%;
            
            }
        }
    }
}